.history/
.DS_Store

# 测试文件
cli/localCache/cache.json

# react 中的构建文件不上传
react/dist
react/lib
react/node_modules

# npm构建
node_modules/
package-lock.json

# 存放默认文件的路径
add/template
temp
pluginsZip

# 测试文件
test.js